*{
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 1px black;
}

  body {
    animation: animatedBackground 10s linear infinite;
    background-image: linear-gradient(45deg, #3498db, #e74c3c, #9b59b6, #f39c12);
    background-size: 400% 400%;
  }
  
  @keyframes animatedBackground {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.profile {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 20px dashed #3498db;
    background-color: #f1f1f1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: glowing 1s infinite;
}

.name{
    position: relative;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #3498db;
    text-shadow: 2px 2px 0 #e74c3c, 4px 4px 0 #f39c12;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
    margin-top: 20px;
}

.name:hover{
    transform: scale(1.1);
    text-shadow: 4px 4px 0 #e74c3c, 6px 6px 0 #f39c12;
}

.kti{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #3498db;
    text-shadow: 2px 2px 0 #e74c3c, 4px 4px 0 #f39c12;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.kti:hover{
    transform: scale(1.1);
    text-shadow: 4px 4px 0 #e74c3c, 6px 6px 0 #f39c12;
}

.kmutt {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #3498db;
    text-shadow: 2px 2px 0 #e74c3c, 4px 4px 0 #f39c12;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .kmutt:hover {
    transform: scale(1.1);
    text-shadow: 4px 4px 0 #e74c3c, 6px 6px 0 #f39c12;
  }

.content-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.content img {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border: 5px dashed #3498db;
  /* transition: transform 0.3s ease, border-color 0.3s ease; */
  transition: box-shadow 0.3s ease, color 0.3s ease;
  animation: glow 1s infinite alternate;
}

.content img:hover {
  border-color: #e74c3c; 
  transform: scale(1.05);  
}
.content p {
    font-size: 25px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: #3498db;
    transition: color 0.3s ease;
    animation: coolEffect 1s ease infinite alternate
  }

  @keyframes coolEffect {
    0% {
      text-shadow: none;
      transform: scale(1);
    }
    100% {
    color: #e74c3c;
      text-shadow: 0 0 10px #e74c3c;
      transform: scale(1.2); 
    }
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
      color: #3498db;
    }
    100% {
      box-shadow: 0 0 50px rgba(52, 152, 219, 0.7);
      color: #e74c3c; 
    }
  }
  
@keyframes glowing {
    0% {
      border-color: #ff0000; 
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    }
    50% {
      border-color: #ffcc00; 
      box-shadow: 0 0 20px rgba(255, 204, 0, 0.8);
    }
    100% {
      border-color: #ff0000;
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    }
  }
  
  @media (max-width: 1200px) {

    .name {
        font-size: 20px;
    }

    .kti {
        font-size: 20px
    }

    .kmutt {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 20px
    }

    .content p {
        font-size: 20px;
    }

    .content img {
        margin-top: 10px;
        width: 200px;
        height: 200px;
      }
  }

  @media (max-width: 600px) {

    .content-container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .content img {
        margin-top: 10px;
        width: 250px;
        height: 250px;
      }

  }
